.backG {
    width: 100%;
    height: 100%;
    display:flex;
    object-fit: cover;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -2;   
}

.ff{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.218) 5%, rgba(0, 0, 0, 0.783) 100%);
    background-position: center;
    background-size: cover;
    display:flex;
    object-fit: cover;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: -1; 
}
  



.cima {
    width: fit-content;
    height:fit-content;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    
     
}
.part{
    flex-direction: row;
}

.baixo{
    color: rgb(0, 0, 0);
    width: 70%;
    height: fit-content;
    
  
    justify-content: center;  
    align-items: center; 
    left: 500px; 
    flex-direction: column;
   
    
}

.ttb {
    color: white;
    flex-direction: column;
    margin-right: 1px; 

}


.write {
    font-size: 100%;
    object-fit: cover;
    padding:30px;
    width: auto;
    height: fit-content;
    align-self: center;
    background-color: rgb(226, 226, 226);
    display: flex; 
    justify-content: center;  
}



.BC {
    margin:20vh 20%;


}

.calculate {
    
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    
    
    
}

.textBox {
    flex-direction:row;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 10px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.lado{
    
    color: rgb(0, 0, 0);
    text-align: center;
    height: 28px;
    border: none; 
    -moz-appearance: textfield;
    appearance: textfield;  
}

.dir {
    width: 70%;
    border-radius: 10px 0px 0px 10px; 
}

.es {
    width: 30%;
    background-color: rgb(194, 194, 194);
    border-radius: 0px 10px 10px 0px;
}

.calculate .text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 100%;
    color: white;
}

.valuesEnd{
  
   display: flex;
   margin-top: 150px ;
   margin-bottom: 20px;
   padding: 20px;
   width: auto;
   height:fit-content;
   background-color: rgb(255, 255, 255); 
}

.camp{
    background-color: rgb(226, 226, 226);
    height: auto;
    width: 33%;
    margin: 10px;
    padding: 20px 30px;
    text-align: center;
    border: 5px solid rgb(226, 226, 226);
    border-radius: 10px; 
    font-size:200% ;
    overflow-x: auto;  
}

.button{
    width: 100%;
    height: 28px;
    border-radius: 10px 10px 10px 10px; 
    border: none;
    color:rgb(43, 43, 43) ;
   
    
}
ul {
    list-style-type:disc;
    padding-left: 30px;
}
.vl{
    padding-right: 30px;
    text-align: center;

}
.ww{
    
    align-items: center;
    position: static;
    left: 100vh;
    
    width:fit-content;
    height: fit-content;
    bottom: 10px;
    
}



